<div class="container pages">
  <h4>登録済みルーム一覧</h4>
  <table class="table table-striped width">
      <thead>
        <tr>
          <th scope="col">ルーム画像</th>
          <th scope="col">ルーム名</th>
          <th class="room_introduction" scope="col">ルーム紹介</th>
          <th scope="col">料金</th>
          <th scope="col">作成日</th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td>
              <%= link_to room_path(room.id) do %>
                <% if room.image.attached? %>
                  <%= image_tag room.image, class:"img" %>
                <% end %>        
              <% end %>  
            </td>
            <td>
              <%= link_to room_path(room.id) do %>
                <p><%= room.room_name%></p>
              <% end %>  
            </td>
            <td class="room_reservation_info">
              <p><%= room.room_introduction %></p>
            </td>
            <td class="room_reservation_info">
              <p>¥<%= room.price %><p>
            </td>
            <td class="room_reservation_info">
              <p><%= room.created_at %><p>
            </td>
          </tr>
        <% end %> 
      </tbody>
  </table>
</div>


