<div>
  <p>============================</p>
  <h2>ユーザー</h2>
  <p><%= @user.name %></p>
  <p><%= @user.email %></p>
  <p>============================</p>
</div>
<div>
  <p>**************************************</p>
  <h2>投稿ルーム</h2>
  <% @rooms.each do |room| %>
    <p>ルームid：<%= room.id %></p>
    <p>ルーム名：<%= room.room_name%></p>
    <p>ルーム紹介：<%= room.room_introduction %></p>
    <p>料金：<%= room.price %></p>
    <p>住所：<%= room.adress %></p>
    <p>**************************************</p>
  <% end %>  
  
</div>