<div class="container pages">
  <div class="pages width">
    <h4>予約済みルーム一覧</h4>
    <table class="table table-striped width">
        <thead>
          <tr>
            <th scope="col">ルーム画像</th>
            <th scope="col">ルーム名</th>
            <th class="room_introduction" scope="col">ルーム紹介</th>
            <th scope="col">合計料金</th>
            <th scope="col">開始日</th>
            <th scope="col">終了日</th>
            <th scope="col">予定確定日時</th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |obj| %>
            <tr>
              <td>
                <%= link_to room_path(obj.room.id) do %>
                  <% if obj.room.image.attached? %>
                    <%= image_tag obj.room.image, class:"reservations_room_img" %>
                  <% end %> 
                <% end %>  
              </td>
              <td>
                <%= link_to room_path(obj.room.id) do %>
                  <p><%= obj.room.room_name %></p>
                <% end %>  
              </td>
              <td class="room_reservation_info">
                <p><%= obj.room.room_introduction %></p>
              </td>
              <td class="room_reservation_info">
                <p>¥<%= obj.number_of_people * obj.room.price %><p>
              </td>
              <td class="room_reservation_info">
                <p><%= obj.start_date %><p>
              </td>
              <td class="room_reservation_info">
                <p><%= obj.finish_date %><p>
              </td>
              <td class="room_reservation_info">
                <p><%= obj.created_at %><p>
              </td>
            </tr>
          <% end %> 
        </tbody>
    </table>
  </div>
  
</div>
