<h1>Homes#index</h1>
<h1>エリア検索</h1>
<%= search_form_for @q, url: search_path do |f| %>
  <p><%= f.label :adress_cont, '場所' %><%= f.search_field :adress_cont %></p>
  <br>
  <%= f.submit '検索' %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "ルーム登録", rooms_new_path %>
  <%= link_to " ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "新規登録", new_user_registration_path %>
<% end %>  


