<h1>Rooms#index</h1>
<% @rooms.each do |obj| %></p>
    <p>========================================</p>
      <p>ID:<%= obj.id %></p>
      <p>ルーム名:<%= obj.room_name %></p>
      <p>ルーム紹介:<%= obj.room_introduction %></p>
      <p>料金:<%= obj.price %></p>
      <p>住所:<%= obj.adress %></p>
      <p>person_id:<%= obj.person_id %></p>
    <p>========================================</p>
<% end %>

