<span class="flash_notice"><%= flash[:notice] %></span>
<div class="container pages">
  <div class="row room_about_page">
    
    <div class="col-8">
      <div class="room_img_field">
        <% if @room.image.attached? %>
          <%= image_tag @room.image, class:"room_img" %>
        <% end %> 
      </div>
      <div class="row room_about">
        <div class="col-2">
          <% if @room.user.image.attached? %>
            <%= image_tag @room.user.image, class:"room_user_img"  %>
          <% else %>
            <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon.jpg", class:"room_user_img" %>
          <% end %>  
        </div>
        <div class="col-10">
          <p><%= @room.room_name %></p>
          <p><%= @room.adress %></p>
        </div>
      </div>
      <p><%= @room.room_introduction %></p>
    </div>
    
    <div class="col-4">
      <div class="reservation_form_field">
        <%= render "shared/error", obj: @reservation %>
        <p>¥<%= @room.price %>/日</p>
        <%= form_for(@reservation, url:{controller: 'reservations', action: 'confirm'}) do |form| %>
          <div class="reservation_form">
            <span>開始日</span>
            <p><%= form.date_field :start_date %></p>
          </div>
          <div class="reservation_form">
            <span>終了日</span>
            <p><%= form.date_field :finish_date %></p>
          </div>
          <div class="reservation_form">
            <span>人数</span>
            <p><%= form.number_field :number_of_people %></p>
          </div>
          <p><%= form.submit "予約", class:"btn btn-primary col-12 input_submit" %></p>
        <% end %>  
      </div>
    </div>
  </div>
</div>

