<div class="container pages">
  <div class="row">
    <div class="col-8">
      <% if @room.image.attached? %>
        <%= image_tag @room.image, class:"img" %>
      <% end %> 
      <% if @room.image.attached? %>
        <%= image_tag @room.user.image %>
      <% end %>  
      <p>ルーム名:<%= @room.room_name %></p>
      <p>住所:<%= @room.adress %></p>
      <p>ルーム紹介:<%= @room.room_introduction %></p>
    </div>
    <div class="col-4">
      <p>料金:<%= @room.price %></p>
      <%= form_for(@reservation, url:{controller: 'reservations', action: 'create'}) do |form| %>
        <p><%= form.date_field :start_date %></p>
        <p><%= form.date_field :finish_date %></p>
        <p><%= form.number_field :number_of_people %></p>
        <p><%= form.submit "予約" %></p>
      <% end %>  
    </div>
  </div>
</div>

